/*
write by wuweiwei

*/

html,body{
	height: 100%;
	padding:0;
	margin:0;
}
dl,dd,dt{
	padding: 0;
	margin:0;
}
a{
	color: #FFF;
}
.mainTop{
	height: 50px;
	line-height: 50px;
	background-color: #FFF;
	color: #333;
	font-weight: bold;
}
.mainTop-side{
	height: 100%;
	width:260px;
	background-color: #46c5d4;
	float: left;
}
.mainContent{
	position: relative;
	height: 100%;
	background-color: #dbeaee;
	overflow: auto;
}
.mainSide{
	width:260px;
	position: absolute;
	top:50px;
	bottom:0px;
	left:0;
	background-color: #585a81;
}
.mainSide dl.mainMenu dd,.mainSide dl.mainMenu dt{
	height: 40px;
	line-height: 40px;
	padding-left:20px;
	padding-right:20px;
	color:#FFF;
}
.mainSide dl.mainMenu dd.select,.mainSide dl.mainMenu dd:hover{
	background-color: #484766;
}
.main{
	overflow: auto;
	left:260px;
	position: absolute;
	bottom:0;
	right: 0;
	top:50px;
}


.IndexModule{
	padding:10px;
}
.IndexModule .news{
	width:400px;
	background-color: #FFF;
	border-radius: 5px;
}

.IndexModule .news dt{
	height: 30px;
	line-height: 30px;
	font-weight: bold;
}
.IndexModule .news dd{
	position: relative;
	height: 60px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:5px;
	padding-right: 5px;
}
.IndexModule .news dd h4{
	height: 40px;
	line-height: 40px;
	padding:0;
	margin:0;
	border-top:1px solid #ccc;
}
.IndexModule .news dd span.author{
	height: 30px;
	line-height: 30px;
	padding:0;
	margin:0;
	display: block;
	position: absolute;
	bottom:5px;
	left:5px;
}
.IndexModule .news dd span.date{
	height: 30px;
	line-height: 30px;
	padding:0;
	margin:0;
	display: block;
	position: absolute;
	bottom:5px;
	right:5px;
}
.IndexModule .news dd span.resource{
	height: 30px;
	line-height: 30px;
	padding:0;
	margin:0;
	display: block;
	position: absolute;
	top:10px;
	right:5px;
	color:#F00;
}
.pageModule{
	padding: 10px;
}